@import 'reset.css';
@import 'theme.css';
@import 'common.scss';

body {
  font-family: "Avenir", PingFangSC-Regular, "Microsoft YaHei", "微软雅黑", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $font-size-m;
  color: $color-text;
}

h1, h2, h3, h4 { margin-bottom: $margin-xl; font-weight: normal;}
h1 { font-size: $font-size-xxl; }
h2 { font-size: $font-size-xl; }
h3 { font-size: $font-size-l; }
h4 { font-size: $font-size-m; }


// badge
.ai-badge {
    display: inline-block;
    position: relative;

    .badge {
        position: absolute;
        left: 100%;
        top: 0;
        display: inline-block;
        color: $color-white;
        background-color: $color-alert;
    }

    .badge-value {
        border-radius: 70px;
        text-align: center;

        &.size-l {
            font-size: 14px;
            width: 46px;
            height: 24px;
            line-height: 24px;
            margin-left: -23px;
            margin-top: -12px;
        }

        &.size-m {
            font-size: 14px;
            width: 36px;
            height: 20px;
            line-height: 20px;
            margin-left: -18px;
            margin-top: -10px;
        }

        &.size-s {
            font-size: 12px;
            width: 30px;
            height: 20px;
            line-height: 20px;
            margin-left: -12px;
            margin-top: -10px;
        }
    }

    .badge-dot {
        width: 10px;
        height: 10px;
        border-radius: 6px;
        margin-left: -6px;
        margin-top: -6px;
    }
}

// breadcrumb
.ai-beadcumb {
    display: inline-block;

    .beadcumb {
        @include font-text;

        &:hover {
            color: $color-primary;

            &:after {
                color: $color-text;
            }
        }

        &:after {
            content: '>';
            margin: 0 $margin-s;
        }

        &:last-child:after {
            content: '';
        }
    }
}

// button
.ai-button {
    display: inline-block;
    box-sizing: border-box;
    border-radius: $border-radius-middle;
    text-align: center;

    &.color-primary-disabled {
        background-color: $color-button;
        color: $color-white;
        opacity: .4;
        cursor: not-allowed;
    }

    &.color-primary {
        @extend .color-primary-disabled;
        opacity: 1;
        cursor: pointer;

        &:hover {
            background-color: $color-button-hover;
        }
    }

    &.color-white-disabled {
        color: $color-button;
        background-color: $color-white;
        border: 1px solid $color-button;
        opacity: .4;
        cursor: not-allowed;
    }

    &.color-white {
        @extend .color-white-disabled;
        opacity: 1;
        cursor: pointer;

        &:hover {
            background-color: #E3EFFF;
        }
    }

    &.size-l {
        font-size: 18px;
        height: 48px;
        line-height: 48px;
        padding: 0 40px;
    }

    &.size-m {
        font-size: $font-size-m;
        height: 36px;
        line-height: 36px;
        padding: 0 20px;
    }

    &.size-s {
        font-size: $font-size-s;
        height: 26px;
        line-height: 26px;
        padding: 0 10px;
    }

    &.size-xs {
        font-size: $font-size-s;
        padding: 2px 5px;
    }
}

// capsules
.ai-capsules {
    display: inline-block;

    a.ai-button {
        &:first-child {
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
        }

        &:last-child {
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
            border-right-color: $color-primary;
        }

        vertical-align: middle;
        border-radius: 0;
        border-right-color: transparent;
    }
}

// checkbox
.ai-checkbox {
    cursor: pointer;
    display: inline-block;

    $check-width: 14px;

    &-input {
        display: inline-block;
        width: $check-width;
        height: $check-width;
        opacity: 0;
        margin-right: $margin-s;
        vertical-align: middle;
        position: relative;
        z-index: 2;

        &:checked+.ai-checkbox-label {
            &:before {
                display: none;
            }

            &:after {
                display: inline-block;
            }
        }

        &:disabled {
            cursor: not-allowed;
            color: $color-disable;

            &+.ai-checkbox-label {
                cursor: not-allowed;
                color: $color-disable;
            }
        }
    }

    &-label {
        @extend %no-select;
        display: inline-block;
        vertical-align: middle;
        font-size: $font-size-m;
        position: relative;

        &:before,
        &:after {
            position: absolute;
            left: -$check-width - $margin-s;
            top: 3px;
            display: block;
            width: $check-width;
            height: $check-width;
            box-sizing: border-box;
            border: 1px solid $color-border-dark;
            border-radius: 2px;
            transition: all 0.15s;
            content: ' ';
            background-color: $color-white;

            &:hover {
                border-color: var(--color-primary);
            }
        }

        &:after {
            background-color: var(--color-primary);
            display: none;
        }
    }
}

// checkbox-group
.ai-checkbox-group {
    .ai-checkbox {
        margin-right: $margin-l;
    }
}

// form
.ai-form {
    width: 100%;
    height: 100%;
    &-ops {
        padding-top: $margin-l;
        text-align: center;

        .ai-button {
            margin: 0 10px;
            vertical-align: middle;
        }
    }
}

// form-item
.ai-form-item {
    &:last-child {
        padding-bottom: 48px;
    }
    margin-bottom: 32px;
    &:after {
        content: ".";
        display: inline-block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
    .item {
        min-height: 36px;
        float:left;
    }
    .item-label {
        text-align: right;
        box-sizing: border-box;
        line-height: 36px;
        padding-right: 16px;
        width: 120px;
    }
    .item-value {
        position: relative;
        .error {
            position: absolute;
            left: 0;
            bottom: -16px;
            color: $color-alert;
            font-size: 12px;
        }
    }
    .quote {
        &:after {
            content: ':';
        }
    }
    .required {
        &:before {
            color: $color-alert;
            content: '*';
            font-size: 16px;
            vertical-align: middle;
        }
    }
    .tip {
        padding-top: 4px;
        @include font-tip;
    }
}

// grid
.ai-grid {
    display: inline-block;
    position: relative;
    width: 100%;
    &-row {
        &:before,
        &:after {
            content: "";
            display: table;
        }

        &:after {
            clear: both;
        }
    }
    &-col {
        float: left;
        box-sizing: border-box;
        padding: 8px;
    }
}

// input
$input-height: 36px;
$textarea-height: 140px;

.ai-input {
    display: inline-block;
    height: $input-height;
    width: 100%;

    &.input-size-l { width: 600px; }
    &.input-size-m { width: 400px; }
    &.input-size-s { width: 300px; }
    &.input-size-textarea { height: $textarea-height; }
    
    .ai-input-inner {
        width: 100%;
        height: 100%;
        padding: 0 $padding-m;
        box-sizing: border-box;
        border: $border-light;
        border-radius: $border-radius-middle;
        font-size: $font-size-m;
        color: $color-text;
        transition: border-color 0.2s ease-in-out;

        &::placeholder {
            color: $color-disable;
        }

        &:focus {
            border-color: $color-primary;
        }

        &:disabled {
            background-color: $color-disable-bg;

            &::placeholder {
                color: $color-disable;
            }

            &:hover {
                cursor: not-allowed;
            }
        }

        &.input-textarea {
            padding: $padding-m;
            resize: vertical;
        }
    }

}

// link
.ai-link {
    color: $color-primary;

    &[disabled] {
        cursor: not-allowed;
        color: $color-disable;
        text-decoration: none;
    }
}

// modal
.ai-modal {
    &-wrap {
        position: fixed;
        z-index: 5;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.3);
    }

    display: inline-block;
    box-sizing: border-box;
    background-color: $color-white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .title {
        box-sizing: border-box;
        position: relative;
        height: 58px;
        line-height: 58px;
        border-bottom: 1px solid $color-footer-bg;
        font-size: 16px;
        color: $color-text;
        letter-spacing: 0;

        .close {
            position: absolute;
            right: 24px;
            top: 2px;
            cursor: pointer;
            font-size: 14px;
            color: #999;
        }
    }

    .sub-title {
        text-align: left;
        padding-bottom: $padding-l;
    }

    .content {
        max-height: 514px;
        overflow: auto;
        box-sizing: border-box;
        padding: $padding-l $padding-m 0;
        font-size: $font-size-m;
        color: $color-text;
        letter-spacing: 0.4px;
        line-height: 20px;
    }

    &-ops {
        text-align: right;
        padding: $padding-m;

        .comfirm {
            margin-left: $margin-m;
        }
    }
}

// pagination
 .ai-pagination {
     $item-size: 36px;
     display: inline-block;
     user-select: none;

     .total-num {
         vertical-align: middle;
         margin-right: $margin-s;
     }

     &-item {
         display: inline-block;
         vertical-align: middle;
         min-width: $item-size;
         height: $item-size;
         padding: 0 3px;
         line-height: $item-size;
         box-sizing: border-box;
         text-align: center;
         font-size: $font-size-m;
         color: $color-text;
         cursor: pointer;

         &.active {
             cursor: default;
         }

         &.active,
         &:hover {
             color: $color-primary;
         }

         &.disable {
             color: $color-disable;
             cursor: not-allowed;
         }

         // with background
         &.background {
             position: relative;
             margin-left: -1px;
             border: $border-normal;

             &.active {
                 background-color: $color-secondary;

                 &:hover {
                     background-color: $color-secondary;
                 }
             }

             &:hover {
                 background-color: $color-hover;
             }

             &.disable:hover {
                 background-color: #FFF;
             }
         }
     }
 }

// progress
.ai-progress {
    display: inline-block;
    width: 100%;
    height: 20px;

    &.status-normal {
        color: $color-primary;
    }

    &.status-alert {
        color: $color-alert;
    }

    &.status-warning {
        color: $color-warning;
    }

    &.status-success {
        color: $color-success;
    }

    .bar-track {
        display: inline-block;
        width: calc(100% - 50px);
        height: 6px;
        vertical-align: middle;
        background-color: $color-inactive;
        border-radius: 100px;

        .indicator {
            height: 100%;
            border-radius: 100px;
            transition: width 0.35s;

            &.status-normal {
                background-color: $color-primary;
            }

            &.status-alert {
                background-color: $color-alert;
            }

            &.status-warning {
                background-color: $color-warning;
            }

            &.status-success {
                background-color: $color-success;
            }
        }
    }

    .text {
        display: inline-block;
        width: 42px;
        margin-left: $margin-s;
        vertical-align: middle;
        line-height: 20px;

        &.success-indicator {
            font-size: $font-size-xl;
        }
    }
}

// radio
.ai-radio {
    cursor: pointer;
    display: inline-block;

    $radio-width: 14px;
    &-input {
        display: inline-block;
        width: $radio-width;
        height: $radio-width;
        opacity: 0;
        margin-right: $margin-s;
        vertical-align: middle;
        position: relative;
        z-index: 2;
    
        &:checked+.ai-radio-label {
            &:before {
                display: none;
            }
    
            &:after {
                display: inline-block;
            }
        }
    
        &.disabled {
            cursor: not-allowed;
            color: $color-disable;
    
            &+.ai-radio-label {
                cursor: not-allowed;
                color: $color-disable;
            }
        }
    }
    &-label {
        display: inline-block;
        vertical-align: middle;
        font-size: $font-size-m;
        position: relative;
    
        &:before,
        &:after {
            position: absolute;
            left: -$radio-width - $margin-s;
            top: 3px;
            display: block;
            width: $radio-width;
            height: $radio-width;
            box-sizing: border-box;
            border-radius: 100%;
            transition: border 0.1s;
            content: ' ';
            background-color: $color-white;
    
            &:hover {
                border-color: var(--color-primary);
            }
        }
    
        &:before {
            border: 1px solid $color-border-dark;
        }
    
        &:after {
            border: 5px solid var(--color-primary);
            display: none;
        }
    }
}

// radio-group
.ai-radio-group {
    .ai-radio {
        margin-right: $margin-l;
    }
}

// select
.ai-select {
    $input-height: 36px;
    $max-height: 220px;
    position: relative;
    display: inline-block;
    border: $border-normal;
    border-radius: $border-radius-middle;
    height: $input-height;
    line-height: $input-height;
    background: #FFF;

    .label {
        .ai-select-icon {
            position: absolute;
            right: 10px;
            display: inline-block;
            height: $input-height;
            line-height: $input-height;
        }
    }

    .options {
        position: absolute;
        top: $input-height;
        width: calc(100% - 2px);
        border: $border-normal;
        background-color: $color-white;

        li {
            padding-left: 16px;
            height: $input-height;
            line-height: $input-height;

            &.active {
                color: $color-primary;
            }

            &:hover {
                color: $color-primary;
            }
        }
    }
}

// sidebar
 .ai-sidebar {
     display: block;

     .rotate {
         transform: rotate(90deg);
     }

     .ai-link {
         box-sizing: border-box;
         display: block;
         padding-left: 30px;
         line-height: 48px;
         @include font-text();

         &.hot {
             background-color: $color-primary;
             color: $color-white;
         }

         &:hover {
             background-color: $color-primary;
             color: $color-white;
         }
     }

     .ai-sidebar-title {
         @extend .ai-link;
         cursor: pointer;

         .right-icon {
             float: right;
             position: relative;
             right: $margin-s;
             font-weight: 900;
         }

         &:after {
             content: " ";
             display: block;
             height: 0;
         }
     }

     .ai-sidebar-tree {
         .ai-link {
             padding-left: 50px;
         }

         .ai-sidebar-title {
             padding-left: 30px;
         }
     }
 }

// steps
.steps-root {
    .steps-head {
        text-align: center;
    }

    .step-item {
        display: inline-block;
        position: relative;
        width: 200px;
        padding-top: 25px;

        .step-flag {
            position: absolute;
            left: 96px;
            top: -7px;
            z-index: 2;
            color: #FFF;
        }

        &:before {
            display: block;
            content: " ";
            position: absolute;
            z-index: 2;
            left: 50%;
            top: -20px;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            margin-left: -20px;
            background: $color-border-50;
        }

        &:after {
            display: block;
            content: " ";
            position: absolute;
            z-index: 1;
            right: 50%;
            top: 0;
            width: 100%;
            height: 4px;
            background-color: $color-border-50;
        }

        &:first-child::after {
            display: none;
        }
    }

    .step-item[pass] {

        &:before,
        &:after {
            background-color: $color-primary;
        }

        .step-title {
            color: $color-primary;
        }
    }

    .steps-body {
        margin-top: 10px;
    }
}

// table
 .ai-table {
     $row-height: 50px;
     table-layout: auto;
     width: 100%;
     border: $border-normal;
     box-sizing: border-box;
     font-size: $font-size-s;

     &-row {
         height: $row-height;
         border-bottom: $border-normal;
         cursor: pointer;

         &.ai-table-header {
             background-color: $color-secondary;
         }

         &.ai-table-content {
             &:hover {
                 background-color: $color-hover;
             }

             &[class*=level-]:not(.level-0) {
                 background-color: #F7F7F7;
             }

             .row-toggle-wrapper {
                 width: 30px;
                 padding-right: $padding-l;
                 box-sizing: border-box;
                 text-align: right;

                 .row-toggle-button {
                     line-height: $row-height;
                     user-select: none;
                 }
             }
         }
     }

     &-column {
         padding-right: $padding-m;
         box-sizing: border-box;

         &:first-child {
             padding-left: $padding-l;
         }

         &:last-child {
             padding-right: $padding-l;
         }

         &.numeric-col {
             text-align: right;
         }

         &.centered-col {
             text-align: center;
         }
     }

     .empty-table-tip-row {
         height: $row-height;
         text-align: center;
         font-size: $font-size-s;
         color: $color-disable;
     }

     .ai-row-detailed {
         background-color: #F7F7F7;
     }

     &-pagination {
         margin-top: $margin-s;
         text-align: right;
     }

 }

// tabs
.nav-tabs {
    user-select: none;
    height: auto;
    border-bottom: 1px solid $color-border;

    >li {
        display: inline-block;
        box-sizing: content-box;
        margin-bottom: -1px;
        margin-right: 16px;

        height: 48px;
        line-height: 48px;
        min-width: 80px;
        text-align: center;

        border: 1px solid transparent;
        border-bottom: none;
        font-size: 16px;
        cursor: pointer;

        &.nav-tabs-active {
            border-color: transparent;
            color: $color-primary;
            border-bottom: 2px solid $color-primary;
        }

        &.nav-tabs-disabled {
            background: none;
            color: $color-disable;
            cursor: not-allowed;
        }
    }

    &.nav-tabs-pills {
        >li {
            margin-right: 2px;

            &.nav-tabs-active {
                background: #FFF;
                border-color: $color-border;
                color: $color-primary;
                border-bottom: 1px solid transparent;
                border-top: 2px solid $color-primary;
                padding-bottom: 1px;
            }

            &:hover:not(.nav-tabs-disabled) {
                color: $color-primary;
            }
        }
    }

    .tab-content {
        margin-top: 32px;
    }

}

// toast
.ai-toast {
    position: fixed;
    top: 56px;
    left: 0;
    right: 0;
    z-index: 199;
    text-align: center;

    .content {
        min-width: 300px;
        display: inline-block;
        height: 60px;
        line-height: 60px;
        border-radius: 2px;
        text-align: center;
        margin-bottom: 16px;
        background: #FFFFFF;
        box-shadow: 0 0 6px 0 rgba(228, 228, 228, 0.50);

        .text {
            margin-left: 8px;
            font-size: 14px;
            color: $color-text;

            &.warn {
                color: $color-warning;
            }

            &.success {
                color: $color-success;
            }

            &.error {
                color: $color-alert;
            }
        }
    }
}

// tooltip
.ai-tooltip {
    display: inline-block;
    position: relative;

    &:hover {
        .tool-tip {
            display: block;
        }
    }

    .tool-tip {
        $margin: 20px;
        min-width: 30px;
        position: absolute;
        display: none;
        background-color: rgba(34, 34, 34, 0.9);
        border-radius: 2px;
        font-size: 12px;
        color: #ffffff;
        line-height: 1.5;
        padding: 20px;

        $triangle: 8px;

        .tip-triangle {
            position: absolute;
            width: 0;
            height: 0;
            border: $triangle solid;
            border-color: transparent transparent rgba(34, 34, 34, 0.9);
        }

        &.left {
            transform: translate(calc(-100% - #{$margin}), -50%);
            top: 50%;

            .tip-triangle {
                top: 50%;
                right: -2 * $triangle;
                margin-top: -$triangle;
                transform: rotate(90deg);
            }
        }

        &.right {
            transform: translateY(-50%);
            left: calc(100% + #{$margin});
            top: 50%;

            .tip-triangle {
                top: 50%;
                left: -2 * $triangle;
                margin-top: -$triangle;
                transform: rotate(-90deg);
            }
        }

        &.top {
            transform: translate(-50%, calc(-100% - #{$margin}));
            left: 50%;
            top: 0;

            .tip-triangle {
                left: 50%;
                bottom: -2 * $triangle;
                margin-left: -$triangle;
                transform: rotate(180deg);
            }
        }

        &.bottom {
            transform: translateX(-50%);
            left: 50%;
            top: calc(100% + #{$margin});

            .tip-triangle {
                left: 50%;
                top: -2 * $triangle;
                margin-left: -$triangle;
            }
        }

    }
}

// upload
.ai-upload {
    display: inline-block;
    position: relative;
    overflow: hidden;

    .ai-upload-input {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: default;
        z-index: 9999;
    }
}
